@import url("common.css");
@import url("side_menu.css");
main ul {
    margin-top: 1em;
}

main li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

.classroom {
    margin-top: 6em;
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.classroom img {
    float: left;
    margin-right: 2.5em;
}

.classroom p {
    font-size: 1.15em;
}

main h2 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    color: #3d3d3d;
}

main h3 {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    color: #3d3d3d;
    font-size: 1.35em;
}

main p + ul {
    margin-top: 0.35em;
}

.curriculum_list,
main ul {
    margin-top: 0.75em;
    margin-left: 1.5em;
}

.curriculum_list li,
main li {
    margin-bottom: 0.65em;
    line-height: 1.5;
}
