@import url("common.css");
@import url("side_menu.css");
@import url("accordian.css");
.accordion {
  font-size: 32px;     
  padding: 18px 20px;  
  width: 100%;          
  text-align: left;     
}
.accordion:after {
  content: '\002B';
  color: #a51417; 
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; 
}

 ul {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}
