@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}

#camp-info { flex: 0 0 250px; 
    background-color:#f9f9f9; 
    padding:15px; 
    border-radius:5px; 
    margin: 10px;
    border-radius: 5%;
} 

#page-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

#main-camp {
    flex: 1;
}

h3 {
    margin-top: 10px;
}

