@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}

#camp-info { flex: 0 0 250px; 
    background-color:#f9f9f9; 
    padding:15px; 
    border-radius:5px; 
} 

#camp-main { display: flex; 
    flex-direction: row; 
    gap: 30px; 
    align-items: flex-start; 
}